<!DOCTYPE html>
<html lang="en">
<head>
    <title>DAC</title>
    <meta charset="utf-8">
    <link href="/static/css/semantic.min.css" rel="stylesheet" type="text/css">
    <script src="/static/js/semantic.min.js" ></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <style>.red-text { color: red; } .green-text { color: green; }</style>
</head>
<body>
<div class="ui top grid container">
    <div class="row"></div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui very padded segment">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui header" onclick="location.href = '';">
                            <h1>DAC</h1>
                        </div>
                        <h3 class="ui header">
                                用户权限表
                        </h3>
                        <table class="ui celled unstackable table">
                            <thead>
                                <tr>
                                    <th>用户</th>  <!--表格的表头使用th标签进行定义,大多数浏览器会把表头显示为粗体居中的文本-->
                                    <th>file1</th>
                                    <th>file2</th>
                                    <th>file3</th>
                                    <th>file4</th>
                                    <th>file5</th>
                                </tr>
                                </thead>
                            <tbody>
                                    {% for user in file %}
                                        <tr>
                                            <td data-label="用户">
                                                <p>{{ user[0] }}</p>
                                            </td>
                                            <td data-label="file1">
                                                {% if user[2] =='1'  %}
                                                <b class="green-text">Yes</b>
                                                {% else %}
                                                <b class="red-text">No</b>
                                                {% endif %}
                                            </td>
                                            <td data-label="file2">
                                                {% if user[3] =='1'  %}
                                                <b class="green-text">Yes</b>
                                                {% else %}
                                                <b class="red-text">No</b>
                                                {% endif %}
                                            </td>
                                            <td data-label="file3">
                                                {% if user[4] =='1'  %}
                                                <b class="green-text">Yes</b>
                                                {% else %}
                                                <b class="red-text">No</b>
                                                {% endif %}
                                            </td>
                                            <td data-label="file4">
                                                {% if user[5] =='1'  %}
                                                <b class="green-text">Yes</b>
                                                {% else %}
                                                <b class="red-text">No</b>
                                                {% endif %}
                                            </td>
                                            <td data-label="file5">
                                                {% if user[6] =='1'  %}
                                                <b class="green-text">Yes</b>
                                                {% else %}
                                                <b class="red-text">No</b>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <br>
                        <div class="ui header" >
                                <h1>Edit</h1>
                        </div>
                        <div class="ui padded blue segment">
                            <form class="ui form" method="post" >
                                  <div class="field">
                                      <label>Username</label>
                                      <input type="text" name="filename" maxlength="10">
                                  </div>
                                  <br>
                                  <a>File1:</a><input  name="file1" value="1" type="radio"   checked="checked">  <b class="green-text">Yes</b>
                                  <input name="file1" value="0" type="radio"> <b class="red-text">No</b>
                                  <br>
                                  <a>File2:</a><input name="file2" value="1" type="radio"  checked="checked">  <b class="green-text">Yes</b>
                                  <input name="file2" value="0" type="radio"> <b class="red-text">No</b>
                                  <br>
                                  <a>File3:</a><input name="file3" value="1" type="radio"  checked="checked">  <b class="green-text">Yes</b>
                                  <input name="file3" value="0" type="radio"> <b class="red-text">No</b>
                                  <br>
                                  <a>File4:</a><input name="file4" value="1" type="radio"  checked="checked">  <b class="green-text">Yes</b>
                                  <input name="file4" value="0" type="radio"> <b class="red-text">No</b>
                                  <br>
                                  <a>File5:</a><input name="file5" value="1" type="radio"  checked="checked">  <b class="green-text">Yes</b>
                                  <input name="file5" value="0" type="radio"> <b class="red-text">No</b>
                                  <br>
                                  <br>
                                  <button class="ui blue button" type="submit">Edit</button>
                              </form>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</body>