<!DOCTYPE html>
<html>
<head>
	<title>DAC</title>
	<meta charset="utf-8">
	<link href="/static/css/semantic.min.css" rel="stylesheet" type="text/css">
	<script src="/static/js/semantic.min.js" ></script>
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<style>.red-text { color: red; } .green-text { color: green; }</style>
</head>
<body>
<div class="ui top grid container">
	<div class="row"></div>
	<div class="row">
		<div class="sixteen wide column">
			<div class="ui very padded segment">
				<div class="ui two column grid">
					<div class="column">
						<div class="ui header" onclick="location.href = '';">
							<h1>DAC</h1>
						</div>
					</div>
					<div class="column">
						<div class="ui padded blue segment">
							<h3 class="ui header">
								<p>{{user}}用户对文件的权限:</p>
							</h3>
							<table class="ui celled unstackable table">
								<thead>
								<tr>
									<th>File</th>
									<th>Access</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									{% for i in range(5) %}
									<td data-label="File">
										<dt>File{{ i+1 }}</dt>
									</td>
									<td data-label="Access">
                                    {% if  privilege[i]  =='1'  %}
                                        <b class="green-text">Yes</b>
                                    {% else %}
                                        <b class="red-text">No</b>
                                    {% endif %}
									</td>
								</tr>
                                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>